
obj/Debug/ImportOsuBeatmap.csproj.FileListAbsolute.txt
.vs/ImportOsuBeatmap/v16/.suo
bin/Debug/ImportOsuBeatmap.exe
bin/Debug/ImportOsuBeatmap.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
obj/Debug/ImportOsuBeatmap.csproj.FileListAbsolute.txt
obj/Debug/ImportOsuBeatmap.exe
obj/Debug/ImportOsuBeatmap.pdb
